@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital@0;1&family=League+Spartan:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=Satisfy&family=Source+Sans+Pro:wght@400;600;900&display=swap');


html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    font-family: "Source Sans Pro", arial, sans-serif;

}
#body{
    font-family: "Source Sans Pro", arial, sans-serif;
}


$primary:#d1b785;
$secondary:#fff2f9;



.active1 {
    background-color: #d1b785;
    padding: 5px 10px;
}


nav .nav-pills {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", arial, sans-serif;
}

nav .nav {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}





// .banner-area {
//     overflow: hidden;
//     margin-top: 100px;
//     background-image: url(images/New\ folder/pexels-pixabay-458766.jpg);

// }

// .banner-area .left {
//     padding: 100px 50px;
//     width: 50%;

//     align-items: center;
//     justify-content: center;
// }

// .banner-area .left h1 {

//     color: white;
//     text-transform: uppercase;
// }

// .banner-area .right {
//     width: 50%;
//     align-items: center;
//     justify-content: center;
//     border-radius: 0px 0px 0px 100%;
//     -webkit-border-radius: 0px 0px 0px 100%;
//     -moz-border-radius: 0px 0px 0px 100%;
//     -ms-border-radius: 0px 0px 0px 100%;
//     -o-border-radius: 0px 0px 0px 100%;
//     background: url(images/logo.png);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
// }



// .banner-area .right img {
//     width: 70%;
//     height: 400px;
//     padding: 50px 30px;
// }

// .banner-area .left a {
//     width: 30%;
//     margin: 25px 0;
//     text-transform: uppercase;
// }









.logo {
    width: 12%;
}

.logo img {
    width: 100%;
    height: 100px;
    margin: 0px;
    margin-top: -15px;
}

.flex-box {
    display: flex;
}

.search-box {
    width: 30%;
    float: right;
    overflow: hidden;
    
}

.search-box .fill {
    width: 65%;
}

.search-box .submit {
    width: 20%;
    background-color: $primary;
    color: white;
    margin-left: -10px;
}

.nav {}


.nav li {
    position: relative;
}

.nav li a {
    font-weight: 400;
    color: #d1b785;
    position: relative;
}

ul li ul a::after {
    width: 0%;
  }
.nav li {
    position: relative;
    text-align: left;
    margin: 0px 5px;
  }
  .nav li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d1b785;
    position: absolute;
    bottom: 0;
    left: 0;
  }
.nav ul {
    width: 200px;
    height: 130px;
    position: absolute;
    top: 100;
    left: -30px;
    padding: 15px;
    background-color: rgb(238, 238, 238);
    display: none;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.nav li:hover ul {
    display: block;
}

.nav ul li {
    list-style: none;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.nav ul li a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

.nav ul li a:hover {
    color: rgb(25, 79, 207);
}


@mixin h3layer {
    content: "";
    width: 30%;
    height: 5px;
    background-color: $primary;
    position: absolute;
    bottom: 0;
    left: 40%;
}

@mixin h3heaidng {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}




.collection-feature {
    background-color: white;

}

.collection-feature .container {
    background-color: #fff2f9;
    padding: 50px 0px;
    box-shadow: 0px 0px 5px black;
}

.collection-feature .colmnDown {
    width: 40%;
    background-color: #fff2f9;
}

.collection-feature .right {
    width: 60%;
    background-color: #ddd;
}

.collection-feature .colmnDown {
    box-shadow: 0px 0px 5px black;
}

.collection-feature .colmnDown i {}

.collection-feature .colmnDown h5 {}

.collection-feature .colmnDown p {}



.card{
    border: 2px solid #d1b785;
  }
.card button{
    color: black;
}


.About-area {}

.About-area h3 {
    text-align: left;
    padding: 15px;
    color: black;
    position: relative;
}

.About-area h3::after {
    content: "";
    width: 10%;
    height: 5px;
    background-color: $primary;
    position: absolute;
    left: 50px;
    bottom: 0;
}

.About-area .left {
    width: 50%;
    background-color: #fff2f9;
}

.About-area .women img {
    width: 100%;
    padding: 50px 20px;
    position: relative;
}

.About-area .women {
    position: relative;
}

.About-area .left {
    position: relative;
}


.About-area .right {
    width: 50%;
    padding: 50px 20px;
    margin-bottom: 50px;
}

.about-top-text {
    padding: 35px 0;
    color: white;
}

.about-top-text h5 {
    padding: 15px 0;
    font-weight: 600;
}

.about-top-text p {
    color: black;
    font-size: 18px;
}






.Product-area:hover h3::after {
    width: 10%;
}

.Product-area {
    padding: 50px 0;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 15px 0;
}

h3::after {
    content: "";
    width: 0%;
    height: 5px;
    background-color: $primary;
    position: absolute;
    bottom: 0;
    left: 45%;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.Product-area .card:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.Product-area.card::after {
    content: "New";
    color: rgb(194, 18, 18);
    width: 50px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.Product-area .card button {
    background-color: ;
}

.Product-area .card {
    margin: 20px 0;
    transition: .5s;
    -webkit-transition: .5;
    -moz-transition: .5;
    -ms-transition: .5;
    -o-transition: .5;
    cursor: pointer;
    position: relative;
}

.Product-area .card::after {
    content: "New";
    color: rgb(194, 18, 18);
    width: 50px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.card:hover {
    box-shadow: 0px 0px 8px black;
}

.card img {
    height: 250px;
}

.card-body {
    text-align: center;

}

.card:hover .card-text {
    display: block;
}

.card-body .card-text {
    background: url(images/logo/rs=h_1000\,cg_true\,m.webp);
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    text-align: left;

}

.card-footer button {
    font-weight: 600;
}

.card-body button i {
    color: white;
}

.card-footer {
    text-align: center;
}

.card-footer a {
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.card-footer a span {
    font-weight: 700;
    color: secondary;
}

.card-footer i {
    color: rgb(253, 181, 0);
}

.card .rateing {
    display: flex;
    width: 50%;
    text-align: center;
    margin: 10px auto;
}

.card .rateing p {
    font-weight: 600;
    margin-top: -5px;
}

.pagesNav {
    text-align: center;
    background-color: #000000;
}

.pagesNav {
    width: 50%;
    margin: 25px auto;
    text-align: center;
    justify-content: center;

}

.pagesNav nav {
    width: 80%;
    float: right;
    justify-content: center;
}














.carousel-area {
    padding: 50px 0;
}
.background{
    background-image: url(images/New\ folder/PngItem_1179898.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    background-attachment: ixed;
}
.carousel-area h3{
    color: white;
}

.carousel-area .item {
    background-color: ffadf4;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
    padding: 25px;
    height: 220px;
    cursor: pointer;
}

.carousel-area .item-box h3{
  color: ;
  font-weight: 700;
}
.carousel-area .item-box .container{
    background-color: 
    padding: 25px 0;
    margin-top:300px;
    margin-bottom: 25px;
}




.womenPride{
    padding: 100px 0;
}
.womenPride .left{}
.womenPride .left .left-img{
    height: 350px;
    border: 2px solid #d1b785;
    display: none;
}
.womenPride .left .left-img img{
    height: 80%;
}
.womenPride .right{}





.discount-area {
    padding: 50px 0;
    background: url(images/New\ folder/fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.discount-area h3 {
    position: relative;
    margin-bottom: 40px;
}

.discount-area h3::after {
    content: '';
    width: 10%;
    height: 5px;
    background-color: $primary;
    position: absolute;
    left: 45%;
    bottom: 0;

}

.discount-area .discount-product {
    position: relative;
    z-index: 9999999;
}


.discount-area .discount-product::after {
    content: '10% Off';
    width: 45%;
    height: 35px;
    background-color: $primary;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 700;
    padding: 5px 10px;
    transition: .8s;
    -webkit-transition: .89s;
    -moz-transition: .89s;
    -ms-transition: .89s;
    -o-transition: .89s;
}

.discount-area .discount-product {
    box-shadow: 0px 0px 5px black;
    margin: 10px;
    overflow: hidden;
    position: relative;

}

.discount-area .discount-product span {
    text-align: center;
}

.discount-area .discount-product span {
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .8s;
    background-color: $primary;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    vertical-align: middle;

}

.discount-area .discount-product:hover::after {
    display: none;
}

.discount-area .discount-product:hover span {
    height: 100%;
    background-color: #d1b685c0;
    cursor: pointer;
    padding: 100px 0;
}

.discount-area .discount-product img {
    width: 100%;
    height: 300px;
    padding: 20px;
    cursor: pointer;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    z-index: 9999999;
}

.discount-area .discount-product:hover {
    box-shadow: 0px 0px 10px black;
}







.expensive-area {
    padding: 50px 0;
    background-color: $secondarydddd;
}

.expensive-area h3 {
    text-align: left;
}

.expensive-area .left:hover {
    box-shadow: 0px 0px 5px;
}

.expensive-area .left {
    background-color: #fff2f9;
    padding: 15px;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.expensive-area .right img {
    width: 100%;
    padding: 0px 10px;
}

.expensive-area .right h5 {
    margin-top: 50px;
}



.threeD-carousel {
    background: url(images/New\ folder/fashion.jpg);
    background-size: cover;
}

.threeD-carousel {}

.cards-wrapper li img {
    width: 100%;
}







// testimonials page         //@at-root




.testimonials-area {
    padding: 50px;
    margin-top: 100px;
    background-color: var(--simple);
    overflow: hidden;

}

.testimonials-area h2 {
    margin: 10px 0;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.testimonials-area .owl-theme {
    padding: 25px 0;
}

.testimonials-area .owl-theme .item {
    padding: 15px;
    margin: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
}

.testimonials-area .comment-body {
    display: inline-block;
}

.testimonials-area .owl-theme .item .comment-body span {
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin-top: -5px;
}

.testimonials-area .comment-body .qutetion {}

.testimonials-area .comment-body {
    position: relative;
    z-index: 999999;
}

.testimonials-area .comment-body .qutetion img {
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: -25px;
    right: 0;
    z-index: -77777;

}

.testimonials-area .comment-body .rating {
    color: rgb(253, 231, 28);

}

.testimonials-area .comment-body .rating li i {}

.testimonials-area .rating li {
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
}

.testimonials-area .comment-footer .Profile {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 3px solid var(--primary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonials-area .comment-footer .Profile img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonials-area .comment-footer .d-flex .name h4 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff2f9;

}





.Satisfction-Reason {
    ackground-color: #fff2f9;
    padding: 50px 0;
}

.Satisfction-Reason h3 {
    text-align: left;
}

.Satisfction-Reason h5 {
    text-align: center;
}

.Satisfction-Reason .left {
    width: 65%;
}

.Satisfction-Reason .left img {
    width: 100%;
    height: 350px;
}

.Satisfction-Reason .right {
    width: 35%;
    margin-left: 50px;
    padding-top: 75px;
}

.Satisfction-Reason .right-box {
    width: 96%;
    float: right;
    height: 520px;
    background-color: #fff2f9;
    padding: 20px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 3px black;
    overflow: scroll;
    overflow-x: hidden;
}

.Satisfction-Reason .card {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




// menu and Cart icon link design.

li a:active {
    color: blue;
}

ul {
    margin-top: 0;
    padding: 0;
    position: relative;
}

ul .fa-cart-plus {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    margin-top: 10px;
    color: $primary;
    position: absolute;
    right: -15px;
    font-size: 20px;
}

header {
    z-index: 99999;
}

.listed-product {
    cursor: pointer;
}



Shopping page .Shopping-page {
    background-color: white;
    background: green;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.Shopping-page .flex-box {
    background-color: ;
    justify-content: space-between;
}

.Shopping-page .left-items {
    width: 60%;
    padding: 0px 15px;
}

.Shopping-page .left-items .card {
    width: 100%;
}

.Shopping-page .left-items img {
    width: 100%;
    padding: 30px 15px;
    height: 150px;
}

.Shopping-page .card-footer {
    width: 100%;
    font-size: 14px;

}

.Shopping-page .card-footer a {
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    scroll-padding-top: 100px;
}

.Shopping-page .card .btn-danger {
    padding: 0px 10px;
    display: none;
}

.Shopping-page .flex-box .right {
    width: 40%;
    padding: 50px 0;
    background-color: #fff2f9;
}

.Shopping-page .right .Price-lists {
    width: 70%;
    margin: 0 auto;
    background-color: green;
}

.Shopping-page .right .total {
    width: 100%;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}













// Banking card Add page



/* Banking Card Add */

.Bank-Card-area {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 5555;
}

.Bank-Card-area .box {
    background-color: rgb(246, 246, 246);
    padding: 25px 0;
}

.Bank-Card-area h4 {
    margin-top: 30px;
    text-transform: capitalize;
    font-weight: 700;
}

.bank-card {
    text-align: center;
}

.banking-img {
    text-align: center
}

.banking-img {
    width: ;
    line-height: 30px;

}

.bank-card select {
    width: 46%;
    font-weight: 600;
    padding: 10px;
}

.cardNumber {
    display: flex;
}

.cardNumber .left {
    width: 35%;
}

.cardNumber .left img {
    width: 80%;
    float: right;
    overflow: hidden;
    opacity: 75%;
}


.cardNumber .right {
    width: 40%;
    margin: 100px 0;
    float: right;
    overflow: hidden;
}

.cardn.right .right .fill {
    float: right;
    overflow: hidden;
    text-align: center;
}

.right input {
    width: 90%;
    margin: 10px;
}

.cardNumber #submit {
    width: 45%;

    font-weight: 700;
    text-align: center;
    background-color: var(--primary);
    margin: 10px auto;
    color: white;
}

.Bank-Card-area .box {
    position: relative;
}

.cross {
    position: absolute;
    top: 10%;
    right: 20%;
    font-size: 25px;
    cursor: pointer;
    color: var(--primary);
}

:root {
    --primary: #d1b785;
}













.footer-area {
    background-color: #fff2f9;
    padding: 25px 0;
    padding-top: 50px;
    overflow: hidden;
    clear: both;
}

.footer-area h5 {
    font-weight: 500;
    text-transform: uppercase;
}

.footer-area li a {
    text-decoration: none;
}

.footer-area li:hover a {
    font-weight: 600;
}

.footer-area .Address {
    margin-top: 20px;
}

.footer-area .Address li i {
    font-size: 20px;
    color: black;
    margin: 10px;
    margin-top: 02px;
}

.footer-area .About-area li:hover i {
    color: $primary;
}

.footer-area .input {
    display: flex;
}

.footer-area .submit {
    padding: 0px 10px;
    color: white;
}

.footer-area .icon {
    line-height: 15px;
}

.footer-area .icon .d-flex {
    cursor: pointer;
}

.footer-area .icon i {
    margin: 0px 8px;
}


.masenger i {
    width: 50px;
    height: 50px;
    background-color: #fff2f9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 15px 0;
    text-align: center;
}

.masenger i {
    bottom: 20px;
    right: 20px;
    position: fixed;
    font-size: 25px;
    color: rgb(18, 74, 206);

    cursor: pointer;
    z-index: 9999999;
}