@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital@0;1&family=League+Spartan:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&family=Satisfy&family=Source+Sans+Pro:wght@400;600;900&display=swap');


#body{
    font-family: "Source Sans Pro", arial, sans-serif;
    background-color: #ddd;
}



ul {
    margin-top: 0;
    padding: 0;
    position: relative;
}

ul .fa-cart-plus {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    margin-top: 10px;
    color: $primary;
    position: absolute;
    right: -15px;
    font-size: 20px;
}


.addBank {
    cursor: pointer;
}

/* Banking Card Add */

.Bank-Card-area {
    width: 100%;
    height: 120vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index: 5555;
    display: none;
}

.Bank-Card-area .box {
    background-color: rgb(246, 246, 246);
    padding: 25px 0;
}

.Bank-Card-area h4 {
    margin-top: 30px;
    text-transform: capitalize;
    font-weight: 700;
}

.bank-card {
    text-align: center;
}

.banking-img {
    text-align: center
}

.banking-img {
    width: ;
    line-height: 30px;

}

.bank-card select {
    width: 46%;
    font-weight: 600;
    padding: 10px;
}

.cardNumber {
    display: flex;
}

.cardNumber .left {
    width: 35%;
}

.cardNumber .left img {
    width: 80%;
    float: right;
    overflow: hidden;
    opacity: 75%;
}


.cardNumber .right {
    width: 40%;
    margin: 100px 0;
    float: right;
    overflow: hidden;
}

.cardn.right .right .fill {
    float: right;
    overflow: hidden;
    text-align: center;
}

.right input {
    width: 90%;
    margin: 10px;
}

.cardNumber #submit {
    width: 45%;

    font-weight: 700;
    text-align: center;
    background-color: var(--primary);
    margin: 10px auto;
    color: white;
}

.Bank-Card-area .box {
    position: relative;
}

.cross {
    position: absolute;
    top: 10%;
    right: 20%;
    font-size: 25px;
    cursor: pointer;
    color: var(--primary);
}

:root {
    --primary: #d1b785;
}











/* index.htm Shopping page area */

.Shopping-page {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 25px;
    padding-top: 120px;
    overflow-y: scroll;
    scroll-padding-top: 250px;
    display: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.Shopping-page .flex-box {
    background-color: ;
    justify-content: space-between;
}

.Shopping-page .left-items {
    width: 60%;
    padding: 0px 15px;
}

.Shopping-page .left-items .card {
    width: 100%;
}

.Shopping-page .card-body button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0px 10px;
}

.Shopping-page .left-items img {
    width: 100%;
    padding: 30px 15px;
    height: 150px;
}

.Shopping-page .card-footer {
    width: 100%;
    font-size: 14px;

}

.Shopping-page .card-footer a {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    scroll-padding-top: 100px;
    font-weight: 600;
}

.Shopping-page .card-footer a span {
    font-weight: 600;
}

.Shopping-page .flex-box .right {
    width: 40%;
    padding: 50px 0;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Shopping-page .right-box {
    width: 80%;
    float: right;
    overflow: hidden;
}

.Shopping-page .right-box {
    padding: 10px 25px;
}

.Shopping-page .right-box li {
    width: 100%;
    position: relative;
}

.Shopping-page .right-box li span {
    width: 80px;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.Shopping-page .right-box .successbtn {
    display: flex;
    overflow: hidden;
}

.Shopping-page .right-box button {

    text-align: center;
    margin: 20px auto;
    font-weight: 600;
    font-size: 18px;
    background-color: #d1b785;
}

.Shopping-page .right-box a button {

    background-color: rgb(172, 45, 45);
}







.Suggested {
    background-color:#fff2f9;
    padding: 50px 0;
}

.Suggested .card{
    animation-name: NewProduct;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.Suggested .card2{
    animation-duration: 3s;
}
.Suggested .card3{
    animation-duration: 2s;
}
.Suggested .card4{
    animation-duration: 3s;
}
.Suggested .card5{
    animation-duration: 2s;
}

.Suggested .card img {
    height: 120px;
}

.Suggested .card a {
    font-size: 13px;
    width: 100%;
}

.Suggested .card a span {
    font-weight: 700;

}

.Suggested .card {
    position: relative;
}
.Suggested .card-body{
    background-color: #d1b785;
}

.Suggested .card button {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
}

@keyframes NewProduct {
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    } 
    50%{
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
    }
     100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}









.contact-area {}

.contact-area h5 {
    text-align: center;
}

.contact-area {}

.contact-area {}